
#exp-message {
	margin-top:8px;
	margin-bottom:45px;
}

#exp-message .custom-tooltip {
	display:block;
}

#exp-message-icon{
	margin-right:10px;
	margin-bottom:-5px;

}


#exp-message .emailtooltip{
	margin-top:20px;
	margin-bottom:10px;
}


#formRegistration div.email-field.error .input-box{
	border: 1px solid #D81E05;
}

@media only screen and (min-width: 1025px) {
	#exp-message .custom-tooltip {
		margin-left: -7px;
	}
}